.profile-page {
	/* border: solid red 2px; */
	text-align: center;
	display: flex;
	justify-content: space-around;
	width: 90%;
	height: 100%;
	margin: 20px auto auto auto;
}

.profile-page > .timeline-container {
	/* border: solid red 2px; */

	display: flex;

	height: 100%;
	flex-wrap: wrap;
	padding: 20px;
}

/* * Timeline Box */
.timeline-info {
	border: solid blue 5px;
	border-radius: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	height: 100%;
	background-color: lightgrey;
}

.timeline-info > div > h2 {
	/* border: solid red 2px; */
	display: flex;
	justify-content: center;
}

.timeline-info > div > h2 > a {
	margin-left: 20px;
	padding-top: 3px;
	/* border: solid red 2px; */
}

/* * Timeline Forms */
.timeline-info .edit-form {
	/* border: solid red 2px; */
	z-index: 1000;
	position: absolute;
	width: 50%;
	height: 80%;
	/* background-color: white; */
	top: 100px;
	left: 25vw;
}

/* *Timeline Container */
.timeline-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* border: solid red 2px; */
}
.timeline-container .buttons {
	/* border: solid red 2px; */
	margin: 10px;
	display: flex;

	justify-content: space-evenly;
	width: 200px;
}

.timeline-container .buttons > Button {
	border: 1px solid #000000;
}

.user-info {
	/* border: solid red 2px; */
	border: solid blue 5px;
	border-radius: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	text-align: left;
	width: 30%;
}
