.publish-timeline {
	/* margin-top: 30%; */
	background-color: white;
	border-radius: 5px;
	/* border: red solid 2px; */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin: 30% auto;
	width: 400px;
}
.publish-timeline h3 {
	/* border: red solid 2px; */
	padding: 10px;
}
.publish-timeline Button {
	/* border: red solid 2px; */
	margin: -10px 10px 10px 10px;
}

.publish-timeline button {
}
