/* Timeline Component */
.timeline-component {
	background-image: linear-gradient(135deg, #f5f7fa, #c4cfc4);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70%;
	margin: 0 auto 0 auto;
	height: 90vh;
}

.filters:div {
	margin: 0px 5px;
}

.timeline-box {
	/* border: red 1px solid; */
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Holds all events */
.events {
	display: flex;
	flex-direction: column;
	position: relative;
	border: blue 1px dotted;
	padding: 0 10px;
	height: 100%;
}
.timeline-line {
	/* z-index: 0; */
	background-color: black;
	content: "";
	position: absolute;
	left: 50%;
	width: 4px;
	height: 100%;
	/* overflow: scroll; */
}

.year {
	text-align: center;
}
/* Event component */
.event-box {
	z-index: 0;
	border-radius: 25px;
	padding: 15px;
	/* min-width: 400px; */
	width: 45%;
	height: 50px;
	background-color: white;
}

.event-box.left {
	margin-right: auto;
}

.event-box.right {
	margin-left: auto;
}

.event-labels {
	z-index: 0;
	display: flex;
	justify-content: space-between;
}
.snippet-box {
	font-size: smaller;
}

.detail-box {
	top: 5px;
	border-radius: 0 0 15px 15px;
	border-top: black 2px solid;
	background-color: rgb(233, 233, 233);
	font-size: smaller;
}

.detail-types {
	display: flex;
	justify-content: space-around;
	line-height: 0px;

	margin-left: auto;
	width: 60px;
}
