/* Timeline Component */
.timeline-component {
	background-image: linear-gradient(135deg, #f5f7fa, #c4cfc4);
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70%;
	margin: 10px auto 0 auto;
	height: 90vh;
	padding-bottom: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.timeline-component > .header {
	/* border: red solid 2px; */
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.timeline-component > .header > Button {
	/* border: red solid 2px; */
	border-radius: 25px;
	margin: 5px;
}

.filters:div {
	margin: 0px 5px;
}

.timeline-box {
	/* border: red 1px solid; */
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header-item {
	margin-top: 10px;
	margin-right: 10px;
}

.header-item .author {
	/* border: red 1px solid; */
	margin: 10px 0 0 0;
}

/* Holds all events */
.events {
	flex-direction: column;
	position: relative;
	/* border: blue 1px dotted; */
	padding: 0 10px;
	height: 100%;
}

.timeline-line {
	/* z-index: 0; */
	background-color: black;
	content: "";
	position: absolute;
	left: 50%;
	width: 4px;
	height: 100%;
	/* overflow: scroll; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.timeline-markers {
	top: -10px;

	border-bottom: solid 3px black;
	margin-top: -10px;
	margin-left: 4px;
	padding-left: 01px;
	height: 15px;
	width: 12px;
	font-size: x-small;
}

.year {
	text-align: center;
	margin: auto;
	font-size: smaller;
	padding: 1px 5px 1px 5px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: 0 0px 2px #000000;
}
.event-container {
	height: 100%;
	width: 100%;
	/* border: red solid 2px; */
	display: flex;
	flex-direction: column;

	align-items: center;
}
/* Event component */
.event-box {
	position: absolute;
	border-radius: 5px;
	margin-top: -25px;
	padding: 10px;
	width: 250px;
	height: 20px;
	background-color: white;
	border: rgba(0, 0, 0, 0.336) solid 0.5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.event-line {
	/* text-align: center; */
	/* border: red 1px solid; */

	/* text-align: center; */
	/* width: 115%; */
	font-size: large;
}

.event-line.left {
	margin-left: 260px;
	position: absolute;
	width: 115%;

	/* border: red 1px solid; */

	display: flex;
	text-align: left;
	flex-direction: column;
	justify-content: center;
}

.event-line.right {
	/* margin-right: -20px; */
	right: 240px;
	position: absolute;
	margin-right: 30px;
	/* border: red 1px solid; */
	width: 115%;
	height: 20px;
	text-align: right;

	display: flex;

	flex-direction: column;
	justify-content: center;
}

.event-box {
	z-index: 5;
}
.event-box.left {
	max-zoom: 10%;
	left: 35px;
}

.event-box.right {
	right: 30px;
}

.event-labels {
	z-index: 0;
	display: flex;
	justify-content: space-between;
}
.snippet-box {
	word-wrap: break-word;
	text-align: center;
	height: 53px;
	width: 150px;

	/* border: solid red 2px; */

	margin: -18px 0px 0px -10px;
	padding-right: 2px;

	padding-left: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* box for currentAge & label types */
.event-right-label {
	/* border: red solid 1px; */
	display: flex;
	width: 110px;
	margin-right: -10px;
	height: 20px;
}

.current-age {
	/* border: red solid 1px; */
	margin-top: 2px;
	/* border-top: 1px black solid;
	border-bottom: 1px black solid; */
	margin-right: 5px;
	text-align: center;
	border-radius: 2px;
	font-size: x-small;
	/* padding-top: 2px; */
	height: 18px;
	width: 250px;
	/* -moz-box-shadow: 0 0 2px #000000;
	-webkit-box-shadow: 0 0 2px #000000;
	box-shadow: 0 0 2px #000000; */
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
}

.label-types {
	/* border: red solid 1px; */
	display: flex;
	justify-content: space-around;
	/* margin-top: -5px; */
	width: 50px;
}

.badge-item {
	/* border: red 1px solid; */
	border-radius: 25px;
	font-size: x-small;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 1px;
	/* background-color: black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5px;
	-moz-box-shadow: 0 0 2px #000000;
	-webkit-box-shadow: 0 0 2px #000000;
	box-shadow: 0 0 2px #000000;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	margin-top: -1px;
}

/* description-box */

.description-box {
	position: absolute;
	background-color: white;
	width: 500px;

	/* margin: auto; */
	top: 20%;
	bottom: auto;

	padding: 30px;
	z-index: 4999;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.description-box > .text {
	text-align: left;
	padding: 5px 20px;
	/* border: red solid 2px; */
}

.description-box > .date {
	position: absolute;
	margin-top: -5px;

	left: 50px;

	text-align: center;
}

.description-box > .header {
	margin-top: -8px;
	display: flex;
	justify-content: space-between;
}

.edit-button {
	/* border: solid red 2px; */
	text-align: right;
}

.detail-image {
	margin-top: 10px;
	max-width: 400px;
	max-height: 500px;

	border-radius: 5px;
	object-fit: fill;
}

.description-box p {
	margin-top: -6px;
	/* border: solid red 2px; */
}

.description-box .image-details {
	font-weight: 300;
}
